<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Book Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/index}">Bookshelf</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<div class="container">

    <hr/>
    <a th:href="@{/bookshelf/{id}/addBook(id=${currentUser.id})}" class="btn btn-primary">Add Book</a>
    <br/><br/>
    <table class="table table-bordered table-striped" id="bookTable">

        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>Genre</th>
            <th>Publisher</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book: ${books}">
            <td th:text="${book.title}" />
            <td th:text="${book.author}" />
            <td th:text="${book.originYear}" />
            <td th:text="${book.genre}" />
            <td th:text="${book.publisher}" />
            <td>
                <a th:href="@{/bookshelf/{id}/updateBook(bookId=${book.id},id=${currentUser.id})}" class="btn btn-info">Update</a>
                <a th:href="@{/bookshelf/{id}/deleteBook(bookId=${book.id},id=${currentUser.id})}" class="btn btn-danger ml-2">Delete</a>
                <a th:href="@{/bookshelf/{id}/markFinished(bookId=${book.id},id=${currentUser.id})}"
                   th:if="${not book.finished}" class="btn btn-success ml-2">Mark finished</a>
                <a th:href="@{/bookshelf/{id}/markUnFinished(bookId=${book.id},id=${currentUser.id})}"
                   th:if="${book.finished}" class="btn btn-info ml-2">Mark Unfinished</a>
                   <a th:href="@{/bookshelf/{id}/viewPrices(bookId=${book.id},id=${currentUser.id})}" class="btn btn-warning ml-2">Check Prices</a>


            </td>
        </tr>
        </tbody>

    </table>

    <h3>To finish your reading list until <h3 th:text="${currentUser.deadLine}"></h3>
    with your reading speed <h3 th:text="${currentUser.speedOfReading}"></h3> words per minute </h3>  
    you should spend <h3 th:text="${time}"></h3> hours for reading </h3></h3>
    <h4>Add New Reading goal</h4>
    <hr/>

    <form th:action="@{/bookshelf/{id}/addSpeed(id=${currentUser.id})}"  method="POST">

        <input type="text" name="speed"  th:value="${currentUser.speedOfReading != 100 ? currentUser.speedOfReading : 100}" class="form-control col-4 mb-4" placeholder="Enter Your reading speed words/minute" />
        <input type="date" name="myDate">
        <button type="submit" class="btn btn-primary col-2">Submit</button>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $("#bookTable").DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1] /* 1st one, start by the right */
            }]
        });
    })
</script>
</body></html>